@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');


body {
    background-color: black;
}

h1,
h2,
h3,
h4 {
	font-family: 'Arimo', sans-serif;
}

.image-header {
	font-family: 'Arimo', sans-serif;
    text-shadow:2px 2px rgb(184, 184, 184);
}

.dropdown {
	position: relative;
	display: inline-block;
  }
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.nav-selection:hover {
	background-color: rgb(255, 255, 255);
	color:rgb(0, 0, 0) !important;
}



.shipping-row {
	background:linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255))
}

.winter-image {
	max-height: 700px !important;
}

.filtered {
    filter: opacity(90%) saturate(180%);
}

.image-container {
	position: relative;
  	text-align: center;
}

.left-middle {
	position: absolute;
	top: 30%;
	left: 8%;
  }


.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .image-header {
	font-size: calc(0.4rem + 3.0vw);
  }
  
  @media (min-width: 1200px) {
	.image-header {
	  font-size: 4rem;
	}
  }

.block {
	width: 600px;
	height: 600px;
  	overflow: hidden;
}
 
.responsive-img {
	min-width: 100%;
  	min-height: 100%;
}
 
 
@media screen and (min-width: 480px) {
   .block {width: 100%}
}

@media screen and (max-width: 480px) {
	.block {
		max-width: 280px;
		max-height: 280px;
  		overflow: hidden;
	}
 }

.custom-btn {
    min-width: 188px !important;
	
}



.left-middlend {
	position: absolute;
	top: 35%;
	left: 5%;
}

.no-bullets {
	list-style-type: none;
	margin: 0;
	padding: 0;
}